div{
  background-color: #333333;
  width: 220px;
  height: 385px;
}

#example{
  width: 220px;
  padding: 20px;
}

.menu{
  text-transform: uppercase;
  padding: 0 0 9px 14px;
  margin-left: 1px;
  display: inline-block;
  border-bottom: 1px solid #c00;
  font: 400 14px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ddd;
}

ul{
  list-style: none;
  color: rgb(202, 174, 34);
}
li{
  font: 100 18px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 7px;
}
