.box {
  display: inline-block;
  width: 125px;
  height: 125px;
  margin: 0 3px;
}

#example{
  width: 550px;
  padding: 20px;
}

p{
  text-transform:uppercase;
  font-family: sans-serif;
  margin: 5px 0 -4px 0;
  font-weight: lighter;
}

#underline{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:10px 0;
  padding:0;
  width: 542px;
  }
